/* Стилі для контейнера */
.container {
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Стилі для всіх блоків */
.box {
    width: 100px;
    height: 100px;
    border: none; /* Видаляємо рамку */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 10px; /* Заокруглені краї */
}

/* Стилі для блоку зі статичним позиціонуванням */
.static {
    background-color: #ffcc00;
    position: static;
    
}

/* Стилі для блоку з відносним позиціонуванням */
.relative {
    background-color: #ff6666;
    position: relative;
    top: 150px;
    right: 10px;
    
}

/* Стилі для блоку з абсолютним позиціонуванням */
.absolute {
    background-color: #66ccff;
    position: absolute;
    top: 500px;
    right: 500px;
    z-index: 1;
}

/* Стилі для блоку з фіксованим позиціонуванням */
.fixed {
    background-color: #99ff99;
    position: fixed;
    bottom: 320px;
    right: 220px;
    z-index: 2;
}
